{% extends 'base.html.twig' %}

{% block title %}Ajouter un catégorie{% endblock %}{# meta title #}

{% block body %}
    {# portion visible de la page ou partie "dynamique" #}
    <h1>Ajouter une catégorie</h1>
    {{ form(formulaire) }}

{% endblock %}