{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {% if app.user %}
        Bonjour {{ app.user }}!
        <a href='/logout' class="btn btn-info">Se déconnecter</a>
    {% else %}
        Bonjour invité!
        <a href='/login' class="btn btn-info">Se connecter</a>
    {% endif %} 
{% endblock %}
